.CuerpoPokeapi {
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 2rem;
}

.Titulo {
    font-family: 'Lucida Sans';
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    align-self: center;
}

.Descripcion {
    font-family: Arial;
    font-style: oblique;
    font-size: 18px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.Atributos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    line-height: 0;
    padding: 1rem;
    border: 3px;
    border-color: black;
    border-style: solid;
}

.NegritaTitulo {
    font-size: 25px;
    font-family: 'Lucida Sans';
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    align-self: center;
    justify-self: center;
}

.Negrita {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.TituloMuestra {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Muestra {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.Divider {
  height: 2px;
  background-color: green;
  border: none;
  width: 100%;
  margin: 24px 0;
}

.Cartel {
    height: 400px;
    width: auto;
    border: 2px;
    border-color: black;
    border-style: solid;
}

.Botones {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

@media (max-width: 768px) {

    .Muestra {
        flex-direction: column;
    }

    .Botones {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}