.Portfolio {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  height: 100%;
}

.Presentacion {
  align-items: center;
  justify-content: center;
  background-image: url("./codigo fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 10rem;
}

.Horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
  width: 60%;
}

.Vertical {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: white;
}

.Nombre {
  margin-bottom: 0.5rem;
}

.Profesion {
  margin-top: 0.5rem;
}

.FotoPerfil {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.Cuerpo {
  padding: 1rem 3rem;
  color: black;
  width: 85%;
  align-self: center;
}

.Divider {
  height: 2px;
  background-color: green;
  border: none;
  width: 100%;
  margin: 24px 0;
}

.Data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Proyectos {
    display: flex;
    flex-direction: column;
}

.CadaProyecto {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.Contenedor {
    position: relative;
    display: inline-block;
}

.Imagen {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px;
    border-color: black;
    border-style: solid;
}

.Texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    pointer-events: none;
}

.Row,
.DobleRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    width: 100%;
    padding: 20px 0;
    flex-wrap: wrap;
}

.Datos,
.DobleDatos {
    flex: 1;
    min-width: 260px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    flex-wrap: wrap;
}

.Contacto,
.DobleContacto {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-left: 10px;
    align-items: start;
}

.DatosContacto {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;
    gap: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (max-width: 768px) {

  .Presentacion {
    height: auto;
    padding: 1rem 0;
    text-align: center;
  }
  
  .CadaProyecto {
    flex-direction: column;
  }

  .DatosContacto {
    flex-direction: column;
  }

  .Horizontal {
    flex-direction: column;
    width: 100%;
  }

  .FotoPerfil {
    height: 5.5rem;
    width: 5.5rem;
  }

}