.Home {
  background-image: url("./codigo verde.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  height: 100%;
}

.Presentacion {
  align-items: center;
  justify-content: center;
  background-image: url("./codigo fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 10rem;
}

.Horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
  width: 60%;
}

.Vertical {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: white;
}

.Nombre {
  margin-bottom: 0.5rem;
}

.Profesion {
  margin-top: 0.5rem;
}

.FotoPerfil {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.Cuerpo {
  padding: 1rem 3rem;
  color: black;
  background-color: aquamarine;
  border: 0.2rem;
  border-color: black;
  border-style: solid;
  width: 85%;
  align-self: center;
}

.Row,
.DobleRow,
.TripleRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  width: 100%;
  padding: 20px 0;
  flex-wrap: wrap;
}

.Datos,
.DobleDatos,
.TripleDatos {
  flex: 1;
  min-width: 260px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine;
  padding-bottom: 1rem;
  border: 0.2rem;
  border-color: black;
  border-style: solid;
}

.Contacto,
.DobleContacto,
.TripleContacto {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-left: 10px;
  align-items: start;
}

.Divider {
  height: 2px;
  background-color: green;
  border: none;
  width: 100%;
  margin: 24px 0;
}

li {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {

  .Presentacion {
    height: auto;
    padding: 1rem 0;
    text-align: center;
  }

  .Horizontal {
    flex-direction: column;
    width: 100%;
  }

  .Vertical {
    align-items: center;
    text-align: center;
  }

  .FotoPerfil {
    height: 5.5rem;
    width: 5.5rem;
  }

  .Cuerpo {
    padding: 1rem;
  }

  .Row,
  .DobleRow,
  .TripleRow {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .Datos,
  .DobleDatos,
  .TripleDatos {
    width: 100%;
    max-width: 400px;
  }

  .Contacto,
  .DobleContacto,
  .TripleContacto {
    align-items: start;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  p, li, span {
    font-size: 16px;
  }

  .Nombre {
    font-size: 26px;
  }

  .Profesion {
    font-size: 18px;
  }
}