.Home {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}

.Presentacion {
  align-items: center;
  justify-content: center;
  background-image: url("./codigo fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 10rem;
}

.Horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
  width: 60%;
}

.Cuerpo {
  padding: 1rem;
  color: black;
}

.Row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 15rem;
}

.DobleRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 20rem;
}

.TripleRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 20rem;
}

.Datos {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DobleDatos {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TripleDatos {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Contacto {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.DobleContacto {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.TripleContacto {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.Divider {
  height: 2px;
  background-color: green;
  border: none;
  width: 100%;
  margin: 24px 0;
}

.Vertical {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: white;
}

.Nombre {
  font-family: 'Lucida Sans';
  font-style: italic;
  margin-bottom: 1rem;
}

.Profesion {
  font-family: Arial;
  font-style: italic;
  margin-top: 0rem;
}

.FotoPerfil {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.Row, .DobleRow, .TripleRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  padding: 20px 0;
}

.Datos, .DobleDatos, .TripleDatos {
  flex: 1;
  min-width: 300px;
}

.Contacto, .DobleContacto, .TripleContacto {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-left: 10px;
}

li {
  margin: 0;
  padding: 0;
}